footer {
    // background: red;
    padding: 15px 0;
    border-top: 1px solid #2828286e;
    background: #020e18;

    .container {
      max-width: 79pc;
      padding: 0 60px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .smedia-links {
      a {
        margin: 0 20px;
        display: inline-block;
        img {
          height: 20px;
        }
      }
    }
    .txt {
      p {
        font-size: 70%;
        opacity: 0.8;
      }
    }
  }