footer {
  padding: 15px 0;
  border-top: 1px solid #2828286e;
  background: #020e18;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include mobile {
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  .smedia-links {
    @include mobile {
      margin: 10px 0;
    }
    a {
      margin: 0 20px;
      display: inline-block;

      img {
        height: 20px;
      }
    }
  }
  .txt {
    p {
      font-size: 70%;
      opacity: 0.8;
      @include mobile {
        text-align: center;
        line-height: 2;
      }
    }
  }
}
