@import "./mixins";

.header-container {
  position: fixed;
  top: 0;
  width: 100%;
  padding-top: 4pc;
  padding-bottom: 4pc;
  z-index: 5;
  left: 0;
  transition: 0.5s ease;
  border-bottom: 1px solid #28282800;

  &.shrink {
    padding-top: 1pc;
    padding-bottom: 1pc;
    background: $background_color;
    border-bottom: 1px solid #28282836;
  }
  .header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .ham_burger {
      height: 19px;
      width: 27px;
      display: flex;
      align-items: center;
      position: relative;

      span {
        position: absolute;
        display: block;
        height: 2px;
        width: 100%;
        right: 0;
        border-radius: 100vh;
        transition: 0.2s ease;
        background: #fff;

        &:nth-child(1) {
          top: 0%;
          width: 21px;
        }
        &:nth-child(2) {
          top: 50%;
          transform: translate(0, -50%);
        }
        &:nth-child(3) {
          top: 89%;
          width: 14px;
        }
      }
      &[data-active="true"] {
        span {
          &:nth-child(1) {
            transform: translate(0, -50%) rotate(45deg);
          }
          &:nth-child(2) {
            opacity: 0;
          }
          &:nth-child(3) {
            transform: translate(0, -50%) rotate(-45deg);
          }
          &:nth-child(1),
          &:nth-child(3) {
            width: 27px;
            top: 50%;
            // left: 50%;
          }
        }
      }
    }
    .links_container {
      display: flex;
      align-items: center;
      .links {
        display: flex;
        align-items: center;
        margin-right: 40px;
        overflow: hidden;
        &[data-active="true"] {
          a {
            transform: translate(0, 0);
            opacity: 1;
          }
        }

        a {
          margin: 0 20px;
          font-size: 85%;
          font-weight: 500;
          opacity: 0;
          transform: translate(0, 100%);
          transition: 0.5s ease;
          &:hover {
            color: #66bd90;
          }
        }
      }
    }
    .dsk_links {
      .links {
        display: none;
      }
    }
  }
}
