@import "./mixins";

//about-section
.about-section {
  display: flex;
  align-items: flex-start;
  padding: 80px 0;

  p {
    opacity: 0.8;
  }

  .left-section,
  .right-section {
    width: 47%;
    @include mobile {
      width: unset;
    }
  }
  .left-section {
    position: sticky;
    top: 235px;
    min-height: calc(100vh - 255px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: -1;
    @include mobile {
      display: none;
    }
    .top-image-rapper {
      img {
        position: fixed;
        width: 68%;
        left: 0;
        top: 0;
        transform: rotateY(180deg);
        z-index: -1;
      }
    }
  }
  .right-section {
    margin: 0 auto;

    .main-heading {
      font-size: 250%;
      position: relative;
      font-weight: 500;
      font-family: "oswald";
      .abstract {
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(-14px, -53px);
        z-index: -1;
        height: 7pc;
        animation-name: scale;
        animation-duration: 8s;
        animation-iteration-count: infinite;
      }
    }
    .norm {
      padding: 20px 0;
    }
    .special-link {
      margin: 70px 0;
    }
  }
}

.slider-section {
  @include mobile {
    margin: 5pc 0 8.5pc 0;
  }
}

//slider
.skills-slider {
  margin: 100px 0;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include mobile {
      display: none;
    }
    .indicator {
      flex: 1;
      margin-left: 50px;
      text-align: left;
      &:nth-child(1) {
        margin-left: 0;
      }
    }
    .txt {
      margin: 8px 0;
      font-size: 85%;
      opacity: 1;
      font-weight: 500;
    }
    .trk {
      width: 100%;
      display: flex;
      align-items: center;
      position: relative;
      height: 2px;
      background: rgba(212, 212, 212, 0.3);
      .thumb {
        width: 50%;
        background: #66bd90;
        display: inherit;
        height: 100%;
        position: relative;
        overflow: hidden;
      }
    }
  }
  .skills {
    margin: 80px auto;
    position: relative;
    max-width: 1108px;

    .ctrl-btns {
      align-items: center;
      position: absolute;
      width: 100%;
      justify-content: space-between;
      top: 280px;
      padding: 0 20px;

      display: none;
      @include mobile {
        display: flex;
      }

      .ctrl-btn {
        width: 50px;
        height: 50px;
        display: block;
        border-radius: 100vh;
        background: #171521;
        border: 1px solid #b7b7b749;
      }
    }

    .mbl_indicator {
      display: flex;
      justify-content: center;

      display: none;
      @include mobile {
        display: flex;
      }

      .indicator {
        height: 2px;
        width: 40px;
        background: #848484;
        display: block;
        margin: 0 5px;
        border-radius: 100vh;
        transition: 0.2s ease-out;
        &[data-active="true"] {
          background: $theme;
        }
      }
    }
    .skill {
      position: absolute;
      opacity: 0;
      transition: 0.3s ease-in-out;
      top: 0;

      &[data-is-active="true"] {
        opacity: 1;
        position: relative;
      }
      .content {
        display: flex;
        align-items: center;
        pointer-events: none;

        @include mobile {
          position: relative;
          opacity: 1;
          margin-bottom: 10px;
          flex-wrap: wrap;
        }

        > .img {
          width: 100%;
          .content-image {
            height: auto;
            width: 30pc;
            margin: 0 auto;
            display: block;
            border-radius: 5px;
            @include mobile() {
              height: 22pc;
              width: 100%;
            }
          }
        }
        > .txt {
          width: 100%;
          padding: 0 0 0 50px;
          @include mobile {
            width: unset;
            padding: 40px 0;
          }
          .heading {
            font-size: 200%;
            font-weight: 500;
            line-height: 1.4;
          }
          p {
            font-size: 86%;
            line-height: 2;
            margin: 8px 0;
            opacity: 0.8;
          }
        }
      }
    }
  }
}
