@import url("https://fonts.googleapis.com/css2?family=Saira+Semi+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Saira+Semi+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
body {
  background: #020e18;
  padding-top: 208px;
  min-height: 100vh;
}

* {
  padding: 0;
  margin: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  background: transparent;
  background-size: cover;
  background-position: center;
  font-family: "Saira Semi Condensed", sans-serif;
  color: #fff;
  font-size: 1.15rem;
  line-height: 1.75;
  font-weight: 400;
  text-decoration: none;
  list-style: none;
  border: none;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 600px) {
  * {
    font-size: 1.1rem;
  }
}

*::-moz-selection {
  background: #66bd90;
  color: #fff;
}

*::selection {
  background: #66bd90;
  color: #fff;
}

@-webkit-keyframes fill {
  0% {
    width: 20%;
  }
  80% {
    width: 105%;
  }
  100% {
    width: 100%;
  }
}

@keyframes fill {
  0% {
    width: 20%;
  }
  80% {
    width: 105%;
  }
  100% {
    width: 100%;
  }
}

@-webkit-keyframes reduce {
  0% {
    width: 100%;
  }
  80% {
    width: 15%;
  }
  100% {
    width: 20%;
  }
}

@keyframes reduce {
  0% {
    width: 100%;
  }
  80% {
    width: 15%;
  }
  100% {
    width: 20%;
  }
}

a,
button {
  cursor: pointer;
}

.special-link {
  color: #66bd90;
  padding: 10px 12px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 44px 0;
  position: relative;
  border-radius: 4px;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 82%;
  text-transform: uppercase;
}

.special-link .arrw {
  margin: 0 0 0 6px;
  height: 30px;
}

.special-link:hover:before {
  -webkit-animation-name: fill;
          animation-name: fill;
}

.special-link:before {
  border-radius: inherit;
  content: "";
  height: 100%;
  width: 20%;
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  background: rgba(102, 189, 144, 0.27);
  z-index: -1;
  -webkit-animation-name: reduce;
          animation-name: reduce;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.special-link::after {
  content: "";
  height: 30px;
  width: 30px;
  display: block;
  background-image: url("../components/assets/svg/Arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.co_theme {
  color: #66bd90;
}

.big_text {
  font-size: 263%;
  font-family: "oswald", sans-serif;
  font-weight: 500;
  line-height: 1.5;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

@media (max-width: 600px) {
  .big_text {
    font-size: 170%;
  }
}

.section-heading {
  font-size: 215%;
  font-family: "oswald", sans-serif;
  font-weight: 500;
}

@media (max-width: 600px) {
  .section-heading {
    font-size: 150%;
  }
}

.pages_container {
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
  position: relative;
  z-index: 1;
}

.wrapper {
  padding-right: 60px;
  padding-left: 60px;
}

@media (max-width: 600px) {
  .wrapper {
    padding-left: 25px;
    padding-right: 25px;
  }
}

.wrapper .max_width {
  max-width: 77pc;
  margin-left: auto;
  margin-right: auto;
}

.absolute_dots_container {
  position: fixed;
  display: block;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 5%;
}

@media (max-width: 600px) {
  .absolute_dots_container {
    margin-left: 10%;
  }
}

.absolute_dots_container .line_container {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
  position: relative;
}

.absolute_dots_container .line_container:after {
  content: "";
  height: 100%;
  width: 1px;
  background: #28282836;
  position: absolute;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  top: 0;
  left: 0;
}

.absolute_dots_container .line_container:nth-child(even) {
  padding-top: 150px;
}

.absolute_dots_container .line_container .dot {
  height: 3px;
  width: 3px;
  background: #66bd90;
  display: block;
  margin: 400px 0;
  border-radius: 100vh;
  position: relative;
  z-index: 1;
}

.absolute_dots_container .line_container .dot:nth-child(1) {
  margin-top: 180px;
}

.animated-sentence .animated-word {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  line-height: 1;
}

.animated-sentence:hover .fake-letter-rapper .fake-letter {
  -webkit-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
}

.animated-sentence:hover .fake-letter-rapper .fake-letter.two {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.animated-sentence:hover .fake-letter-rapper .real-letter {
  opacity: 1;
}

.fake-letter-container span {
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  line-height: inherit;
}

.fake-letter-container .fake-letter-rapper {
  position: relative;
  color: transparent;
  overflow: hidden;
}

.fake-letter-container .fake-letter-rapper .real-letter {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1.5px #66bd90;
  opacity: 0;
  -webkit-transition: 0.7s ease;
  transition: 0.7s ease;
}

.fake-letter-container .fake-letter-rapper .fake-letter {
  position: absolute;
  left: 0;
  color: #fff;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.fake-letter-container .fake-letter-rapper .fake-letter.two {
  -webkit-transform: translate(100%, 0);
          transform: translate(100%, 0);
  color: #66bd90;
  background: transparent;
}

.projects .project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 9pc 0 11pc 0;
}

@media (max-width: 600px) {
  .projects .project {
    display: block;
  }
}

.projects .project:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.projects .project:nth-child(even) .text_section {
  padding-left: 0;
  padding-right: 40px;
}

@media (max-width: 600px) {
  .projects .project:nth-child(even) .text_section {
    padding: 0;
  }
}

.projects .project .image_section,
.projects .project .text_section {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.projects .project .text_section {
  padding-left: 40px;
  max-width: 38pc;
}

@media (max-width: 600px) {
  .projects .project .text_section {
    padding-left: 0;
    -webkit-transform: translate(0, -42px);
            transform: translate(0, -42px);
  }
}

.projects .project .text_section .key_value_container {
  margin: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.projects .project .text_section .key_value_container .key_value {
  margin-right: 46px;
}

@media (max-width: 600px) {
  .projects .project .text_section .key_value_container .key_value {
    margin: 5px 20px 5px 0;
  }
}

.projects .project .text_section .key_value_container .key_value .key, .projects .project .text_section .key_value_container .key_value {
  font-family: "oswald", sans-serif;
  font-size: 100%;
  font-weight: 500;
}

.projects .project .text_section > p {
  font-size: 86%;
  line-height: 2;
  opacity: 0.8;
}

.projects .project .image_section .strips {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 73%;
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 600px) {
  .projects .project .image_section .strips {
    max-width: unset;
  }
}

.projects .project .image_section .strips .strip {
  height: 20pc;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #0c2124;
  margin: 0 10px;
  background-position: center;
  background-size: cover;
}

@media (max-width: 600px) {
  .projects .project .image_section .strips .strip:nth-child(2) {
    margin-right: 0;
  }
  .projects .project .image_section .strips .strip:nth-child(1) {
    margin-left: 0;
  }
}

.projects .project .image_section .strips .strip .number {
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-transform: inherit;
          transform: inherit;
  font-size: 240px;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 1;
  opacity: .5;
}

.site {
  text-decoration: underline;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
}

.career-section .cards-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 5pc 0;
}

@media (max-width: 600px) {
  .career-section .cards-container {
    display: block;
  }
}

.career-section .cards-container .card {
  background: #05111c;
  padding: 35px 36px;
  width: 100%;
  border-radius: 10px;
}

@media (max-width: 600px) {
  .career-section .cards-container .card {
    width: unset;
    padding: 20px 15px;
  }
}

.career-section .cards-container .card:not(.long-card) {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-bottom: 48px;
}

.career-section .cards-container .card .work-space .sub-heading,
.career-section .cards-container .card .txt {
  font-size: 81%;
}

.career-section .cards-container .card:nth-child(even) {
  margin: 0 60px;
}

@media (max-width: 600px) {
  .career-section .cards-container .card:nth-child(even) {
    margin: 30px 0;
  }
}

.career-section .cards-container .card > .sub-heading {
  margin-bottom: 20px;
  font-family: "oswald";
}

.career-section .cards-container .card .work-space .work-space-info {
  margin: 6px 0 25px 0;
  position: relative;
  padding-bottom: 0;
}

.career-section .cards-container .card .work-space .work-space-info:after {
  content: unset;
  position: absolute;
  top: 14px;
  left: 7px;
  height: 100%;
  width: 1px;
  background: #66bd90;
  opacity: 0.8;
}

.career-section .cards-container .card .work-space .work-space-info .txt {
  opacity: 0.8;
}

.career-section .cards-container .card .work-space .work-space-info .role,
.career-section .cards-container .card .work-space .work-space-info .date {
  padding: 0 10px;
  padding-left: 25px;
}

.career-section .cards-container .card .work-space .work-space-info .role {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.career-section .cards-container .card .work-space .work-space-info .role .borderd-dot {
  content: "";
  background-image: url("../components/assets/svg/circle.svg");
  height: 15px;
  width: 15px;
  display: block;
  position: absolute;
  background-color: #05111c;
  border-radius: 100vh;
  left: 0;
}

.career-section .cards-container .card .work-space:first-of-type .work-space-info {
  padding-bottom: 30px;
}

.career-section .cards-container .card .work-space:first-of-type .work-space-info:after {
  content: "";
}

.career-section .cards-container .long-card {
  width: 195%;
}

@media (max-width: 600px) {
  .career-section .cards-container .long-card {
    width: unset;
  }
}

.career-section .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.career-section .header a.co_theme {
  font-weight: 500;
  font-size: 18px;
}

footer {
  padding: 15px 0;
  border-top: 1px solid #2828286e;
  background: #020e18;
}

footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 600px) {
  footer .container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-right: 40px;
    padding-left: 40px;
  }
}

@media (max-width: 600px) {
  footer .smedia-links {
    margin: 10px 0;
  }
}

footer .smedia-links a {
  margin: 0 20px;
  display: inline-block;
}

footer .smedia-links a img {
  height: 20px;
}

footer .txt p {
  font-size: 70%;
  opacity: 0.8;
}

@media (max-width: 600px) {
  footer .txt p {
    text-align: center;
    line-height: 2;
  }
}

.next-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 15pc 0 9pc 0;
}

@media (max-width: 600px) {
  .next-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.next-section .right-txt {
  width: 100%;
}

.next-section .right-txt p {
  margin: 30px 0;
  font-size: 86%;
  opacity: 0.8;
  max-width: 35.7pc;
  line-height: 2;
}

.next-section .left-txt {
  padding: 0 50px;
  width: 61%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 600px) {
  .next-section .left-txt {
    width: unset;
    padding: 0;
    margin: 0 0 72px 0;
  }
}

.next-section .left-txt .marker-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.next-section .left-txt .marker-container .marker {
  height: 2px;
  width: 15px;
  display: inline-block;
  background: #fff;
  margin: 0 8px 0 0;
}

.next-section .left-txt .marker-container .txt {
  font-size: 92%;
  font-weight: 500;
}

.top {
  min-height: calc(100vh - 208px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top .top-txt {
  width: 48%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 600px) {
  .top .top-txt {
    width: unset;
  }
}

.top .top-txt .med-txt {
  font-size: 93%;
  font-weight: 400;
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.top .top-txt .med-txt .waving-hand {
  height: 20px;
  margin: 0 8px;
  display: block;
  -webkit-transition: 1s ease;
  transition: 1s ease;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-animation-name: wave;
          animation-name: wave;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes wave {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(0, 0) rotate(45deg);
            transform: translate(0, 0) rotate(45deg);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes wave {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(0, 0) rotate(45deg);
            transform: translate(0, 0) rotate(45deg);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

.top .top-txt .big_text {
  margin: 20px 0;
}

.top .top-txt p {
  margin-bottom: 70px;
  max-width: 33pc;
  opacity: 0.8;
  font-size: 85.6%;
  line-height: 2;
  max-width: 33pc;
}

.top .top-txt p a,
.top .top-txt p span {
  font-size: 100%;
}

.top .top-txt .scroll-indict {
  font-size: 16px;
  color: rgba(232, 233, 235, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top .top-txt .scroll-indict:after {
  content: "";
  width: 10px;
  height: 1px;
  display: block;
  margin: 0 15px;
  background-color: rgba(232, 233, 235, 0.5);
}

.top .top-img img {
  position: fixed;
  top: 0;
  right: 0;
  width: 68vw;
  z-index: -1;
}

@media (max-width: 600px) {
  .top .top-img img {
    width: unset;
    right: -34vmax;
    height: 100vh;
  }
}

.header-container {
  position: fixed;
  top: 0;
  width: 100%;
  padding-top: 4pc;
  padding-bottom: 4pc;
  z-index: 10;
  left: 0;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  border-bottom: 1px solid #28282800;
}

.header-container.shrink {
  padding-top: 1pc;
  padding-bottom: 1pc;
  background: #020e18;
  border-bottom: 1px solid #28282836;
}

@media (max-width: 600px) {
  .header-container.shrink[data-hamBurgerIsOpen="true"] {
    padding-top: 4pc;
    padding-bottom: 4pc;
  }
}

.header-container .header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-container .header-wrapper .ham_burger {
  height: 19px;
  width: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.header-container .header-wrapper .ham_burger span {
  position: absolute;
  display: block;
  height: 2px;
  width: 100%;
  right: 0;
  border-radius: 100vh;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  background: #fff;
}

.header-container .header-wrapper .ham_burger span:nth-child(1) {
  top: 0%;
  width: 21px;
}

.header-container .header-wrapper .ham_burger span:nth-child(2) {
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.header-container .header-wrapper .ham_burger span:nth-child(3) {
  top: 89%;
  width: 14px;
}

.header-container .header-wrapper .ham_burger[data-active="true"] span:nth-child(1) {
  -webkit-transform: translate(0, -50%) rotate(45deg);
          transform: translate(0, -50%) rotate(45deg);
}

.header-container .header-wrapper .ham_burger[data-active="true"] span:nth-child(2) {
  opacity: 0;
}

.header-container .header-wrapper .ham_burger[data-active="true"] span:nth-child(3) {
  -webkit-transform: translate(0, -50%) rotate(-45deg);
          transform: translate(0, -50%) rotate(-45deg);
}

.header-container .header-wrapper .ham_burger[data-active="true"] span:nth-child(1), .header-container .header-wrapper .ham_burger[data-active="true"] span:nth-child(3) {
  width: 27px;
  top: 50%;
}

.header-container .header-wrapper .links_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-container .header-wrapper .links_container .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 40px;
  overflow: hidden;
}

@media (max-width: 600px) {
  .header-container .header-wrapper .links_container .links {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background: #020e18;
    width: 100%;
    padding-top: 6pc;
    display: block;
    -webkit-transform: translate(0, -20px);
            transform: translate(0, -20px);
    opacity: 0;
    pointer-events: none;
    -webkit-transition: 0.2s ease-out;
    transition: 0.2s ease-out;
  }
  .header-container .header-wrapper .links_container .links[data-active="true"] {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
    pointer-events: unset;
  }
}

.header-container .header-wrapper .links_container .links[data-active="true"] a {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.header-container .header-wrapper .links_container .links a {
  margin: 0 20px;
  font-size: 85%;
  font-weight: 500;
  opacity: 0;
  -webkit-transform: translate(0, 100%);
          transform: translate(0, 100%);
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.header-container .header-wrapper .links_container .links a.active {
  color: #66bd90;
}

@media (max-width: 600px) {
  .header-container .header-wrapper .links_container .links a {
    display: block;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 40px auto;
    font-weight: 500;
    font-size: 170%;
  }
}

.header-container .header-wrapper .links_container .links a:hover {
  color: #66bd90;
}

.achievements_container .achievements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 200px;
}

@media (max-width: 600px) {
  .achievements_container .achievements {
    display: block;
  }
}

.achievements_container .achievements > div {
  margin-right: 137px;
  max-width: 237px;
}

@media (max-width: 600px) {
  .achievements_container .achievements > div {
    margin-bottom: 70px;
    margin-right: 0;
    max-width: unset;
  }
}

.achievements_container .achievements > div .title {
  font-weight: 500;
  font-family: Oswald;
  opacity: 1;
  font-size: 19px;
}

.achievements_container .achievements > div p {
  font-size: 16px;
  margin: 16px 0;
  color: #e8e9eb;
  opacity: 0.8;
  line-height: 1.8;
}

.achievements_container .promise {
  margin-bottom: 200px;
}

.achievements_container .promise h1 {
  font-size: 55px;
  font-weight: 500;
  font-family: Oswald;
  max-width: 646px;
  margin-bottom: 80px;
}

@media (max-width: 600px) {
  .achievements_container .promise h1 {
    font-size: 35px;
    margin-right: 0;
  }
}

.achievements_container .promise .flex_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 600px) {
  .achievements_container .promise .flex_container {
    display: block;
  }
}

.achievements_container .promise .flex_container > div {
  margin-right: 120px;
  max-width: 526px;
  margin-right: 30px;
}

@media (max-width: 600px) {
  .achievements_container .promise .flex_container > div {
    margin-bottom: 70px;
    margin-right: 0;
  }
}

.achievements_container .promise .flex_container > div .title {
  font-weight: 500;
  font-size: 37px;
  font-family: Oswald;
  margin: 0 0 32px 0;
}

@media (max-width: 600px) {
  .achievements_container .promise .flex_container > div .title {
    font-size: 30px;
  }
}

.achievements_container .promise .flex_container > div p:not(.title) {
  opacity: 0.8;
  line-height: 1.98;
}

.accolades_container {
  margin-bottom: 300px;
  margin-top: 350px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

@media (max-width: 600px) {
  .accolades_container {
    margin-bottom: 200px;
    margin-top: 250px;
  }
}

.accolades_container .flex_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

@media (max-width: 600px) {
  .accolades_container .flex_container {
    display: block;
    position: unset;
  }
}

.accolades_container .flex_container .keyboard {
  max-width: 926px;
  position: absolute;
  bottom: 0;
  z-index: -1;
}

@media (max-width: 600px) {
  .accolades_container .flex_container .keyboard {
    display: none;
  }
}

.accolades_container .flex_container .accolade {
  background: #05111c;
  margin: 32px;
  padding: 64px 32px 34px 32px;
  max-width: 342px;
  margin-bottom: 85px;
  -webkit-box-shadow: 0px 15px 50px rgba(2, 14, 24, 0.5);
          box-shadow: 0px 15px 50px rgba(2, 14, 24, 0.5);
  border-radius: 8px;
}

@media (max-width: 600px) {
  .accolades_container .flex_container .accolade {
    margin: 35px 0;
    position: unset;
    -webkit-transform: unset;
            transform: unset;
  }
}

.accolades_container .flex_container .accolade .comment {
  font-size: 27px;
  line-height: 1.6;
  opacity: 0.8;
  max-width: 342px;
  margin-bottom: 48px;
  color: #e8e9eb;
}

@media (max-width: 600px) {
  .accolades_container .flex_container .accolade .comment {
    font-size: 21px;
  }
}

.accolades_container .flex_container .accolade .comment::before {
  content: "";
  width: 40px;
  height: 35px;
  display: block;
  background: url("../components/assets/svg/quote-2.svg");
  background-position: center;
  background-size: cover;
  margin-bottom: 24px;
}

.accolades_container .flex_container .accolade .author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.accolades_container .flex_container .accolade .author_picture {
  height: 48px;
  width: 48px;
  margin-right: 20px;
  border-radius: 100vh;
}

.accolades_container .flex_container .accolade .author .text_holder p {
  font-size: 18px;
  color: #90a6b8;
  font-weight: 400;
}

.hero_section_container {
  min-height: 100vh;
}
/*# sourceMappingURL=home-page.css.map */